body {
    background: darkgreen;
}

.keys {
    margin-left: -6px;
}

.white-keys kbd {
    display: inline-block;
    height: 200px;
    line-height: 200px;
    width: 40px;
    background: white;
    text-align: center;
    border: 1px solid grey;
    margin-left: -6px;
}

.black-keys kbd {
    display: inline-block;
    height: 80px;
    width: 30px;
    background-color: black;
    color: white;
    position: relative;
    top: -364px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    margin: 10rem;
}

#w-key {
    right: 35px;
}

#e-key {
    right: 27px;
}

#t-key {
    right: -17px;
}

#y-key {
    right: -22px;
}

#u-key {
    right: -29px;
}
